body{
	background: #BDBDBD;
}

div {
  background: url("https://img-aws.ehowcdn.com/877x500p/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/f24b4a7bf9f24d1ba5f899339e6949f3");
  width: 400px; 
  height: 400px; 
  border-radius: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  border: 10px solid white;
  
}

